img.profile-pic{
  float: left;
  border-radius: 5%;
  width: 15%;
  height: auto; 
}
.jumbo{
  text-align: right;
  font-family: fantasy;
}
body{
  background-color: rgba(105, 221, 241, 0.5);
}
.cardblock{
  text-align: justify;
  text-indent: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.box{
  margin: auto;
  margin-top: 50px;
  float: center;
  width: 33%;
  border: dashed navy;
  box-sizing: border-box;
  padding: 15px;
  background-color: rgb(206, 206, 255);


}